
.sectionStyle {
    margin: auto;
    margin-top: 36px;
    width: 95%;
}

.sectionStyle h2, .divfonte h2 {
    text-align: center;
    font-weight: bold;
}
.divfonte h2{
    margin: 45px 0px 45px 0px;
}

/* SEÇÕES */

#sec-1 {
    display: none;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
}
#sec-1 p{
    text-indent: 0;
    margin: auto;
    margin-top: 10px;
    max-width: 90%;
    text-align: justify;
}

#sec-1 #sectionBoxIMG {
    width: 100%;
}

.divImgILUSTRA{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 40px 0px;
}
.ImgILUSTRA{
    width: 450px;
    border-radius: 25px;
}
.sectionStyle h4{
    width: 90%;
    margin: 35px auto 35px auto;
}
#sectionBoxIMG img {
    height: auto;
    width: 100%;
    border-radius: 20px;
}
#divTitle{
    margin-top: 36px;
    text-align: center;
    font-weight: bolder;
}
#divTitle p{
    text-align: center;
}
.sectionStyle p{
    text-align: center;
}


#divFonte{
    width: auto;
    margin: auto;
    margin-top: 80px;
}
span{
    display: block;
    text-align: left;
}
